@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;700&display=swap');

:root {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

*,
::before,
::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}